/dataset/ogbn_proteins
/dataset/edge_features_index_v2.pkl
/dataset/init_node_features_add.pt
/dataset/init_node_features_mean.pt
/venv/
/log/
/__pycache__/
cluster_process.ipynb
/metis_clustering.ipynb
